<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Forest Fire Detection</h1>
        <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload and Predict</button>
        </form>
    </div>
</body>
</html>
